<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.logitics.erp.payroll.mapper.PayrollMapper">

    <select id="getList">
        select
            pr.payroll_id,
            e.employee_no,
            e.name as employee_name,
            e.account_number,
            e.bank_name,
            d.department_name,
            p.position_name,
            max(case when pd.item_name_snapshot = '기본급' then pd.amount else 0 end) as basic_salary_amount,
            max(case when pd.item_name_snapshot = '식대' then pd.amount else 0 end) as meal_allowance_amount,
            max(case when pd.item_name_snapshot = '교통비' then pd.amount else 0 end) as transportation_allowance_amount,
            max(case when pd.item_name_snapshot = '직책수당' then pd.amount else 0 end) as responsibility_allowance_amount
        from payroll pr
            left join payroll_detail pd
                on pd.payroll_id = pr.payroll_id
            left join employee e
                on pr.employee_id = e.employee_id
            left join department d
                on d.department_id = e.department_id
            left join positions p
                on e.position_id  = p.position_id
    </select>
    <select id="updateBasicSalary">
        select *
        from payroll_detail
        where item_name_snapshot = '기본급'
        and payroll_id = #{payrollId}
    </select>


</mapper>